.favorite-list-container {
  min-height: calc(100vh - 95px);
}

.favorite-list-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.favorite-list-card {
  width: 18rem;
  margin: 10px;
}

.favorite-list-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
